#profilebar {
  z-index: 5;
  padding: 12px;
  border-radius: 15px 15px 15px 15px;
  color: #fdfdfd;
  height: 40%;
  width: 400px;
  top: 96px;
  right: 1%;
  position: fixed;
  visibility: hidden;
  background-color: rgba(170, 56, 56, 0.575);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}

#profilebar.open {
  visibility: visible;
  opacity: 1;
}

#profilebar .close {
  cursor: pointer;
  outline: none;
  color: #000000;
}
#profilebar .profile-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#profilebar .profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#profilebar .profile-image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

#profilebar .profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profilebar .profile-email {
  font-size: 0.9rem;
  color: #ffffff;
}

#profilebar .profile-info {
  text-align: center;
}

#profilebar .profile-info p{
  font-size: 1.7rem;
}

#profilebar .nickname {
  font-weight: bold;
}

#profilebar .profile-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

#profilebar .profile-action-mypage,
#profilebar .profile-action-logout {
  flex: 1;
  width: 160px;
  height: 60px;
  padding: 8px 4px;
  margin: 0 3px;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.363); /* 버튼색깔 */
  cursor: pointer;
}

#profilebar .profile-action-mypage {
  border-radius: 15px 0 0 15px;
}

#profilebar .profile-action-logout {
  border-radius: 0 15px 15px 0;
}

#profilebar .profile-action-mypage:hover {
  background-color: rgba(0, 0, 0, 0.301);
}

#profilebar .profile-action-logout:hover {
  background-color: rgba(0, 0, 0, 0.301);
}

#profilebar .action-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
