#sign-up-wrapper{
    width: 100vw;
    min-width: 1440px;
    height: 90vh;
    display: flex;
} 

.sign-up-image{
    background-position: 50% 50%;
    background-size: 100% 100%;
    /*background-image: url(views/Authentication/SignUp/assets/sign-up-image.png);*/
}

.sign-up-container{
    width: 830px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    margin-left: 10%;
    margin-right: 10%;
    
}

/*
.sign-up-box{
    width: 380px;
    
    display: flex;
    flex-direction: column;

    gap: 24px;
}
*/

.sign-up-box{
    display: flex;
    position: relative;
    height: 75%;
    top: 0;
    left: 0;

    gap: 0px;
    padding: 40px;
    border-radius: 20px;
    transition-delay: 0.5s;
}

.sign-up-title{
    color: rgba(64, 64, 64, 1);

    display: flex;
    justify-content: center;

    font-size: 30px;
    font-weight: 700;
    line-height: 173%;
}

.sign-up-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid  #ffffff; /* 테두리 선 색상 녹색으로 설정 */
    padding: 10px 20px; /* 내부 여백 설정 */
    background-color: #95f3a2; /* 배경색 흰색 */
    border-radius: 10px; /* 모서리 둥글게 */
    gap: 24px;
    margin-top: 10%;
    margin-bottom: 50%;
}

.sign-up-content-sns-sign-in-box{
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 16px;
}

.sign-up-content-sns-sign-in-title{
    color: rgba(138, 146, 166, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.sign-up-content-sns-sign-in-button-box{
    display: flex;
    
    gap: 24px;
}

.sing-up-content-divider{
    border-top: 1px solid rgba(238, 238, 238, 1);
    width: 64px;
}

.sign-up-content-input-box{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sign-up-content-button-box{
    width: 100%;
        
    display: flex;
    flex-direction: column;
    
    gap: 16px;
}

.sign-up-content-button-box{
    width: 100%;
    
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.log-io-container.first-active .sign-up-container {
    transform: translateX(-7%);
}

.log-io-container.first-active .sign-up-box {
    z-index: 2;
    opacity: 1;
}

.auth-consent-box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.auth-check-box {
    cursor: pointer; 

    width: 24px;
    height: 24px;
}

.auth-consent-title {
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-consent-title-error {
    color: rgba(255, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.auth-consent-link {
    color: rgba(0, 0, 0, 0.7);

    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}