/* 기본 스타일 */
.sign-in-container {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  display: flex;
  width: 1000px;
  background-color: #ffffff;
  color: #00020a;
  height: 300px;
  flex-direction: row;
}

.sign-in-box {
  padding: 40px;
  display: flex;
  margin-top: 20px;
  gap: 0;
  transition-delay: 0.5s;
  opacity: 1;
  border-radius: 20px;
  transform: translateX(7%);
}

.sign-in-title {
  color: rgba(64, 64, 64, 1);
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  line-height: 173%;
  width: 600px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgb(25, 25, 25);
}

.sign-in-content-box {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;
}

.sign-info {
  display: flex;
  font-style: initial;
  font-size: 15px;
  border-bottom: 1px solid #a8a2a2c0;
  width: 600px;
  height: 75px;
}

.sign-info-title,
.sign-info-content {
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
}

.sign-info-title {
  padding-left: 2%;
  height: 75px;
  width: 150px;
  border-right: 1px solid #a8a2a2c0;
  background-color: #4ff55d8c;
  margin-top: 0;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.sign-info-content {
  padding-left: 5%;
  width: 200px;
}

.icon-edit-icon {
  padding: 10px;
  margin-left: 150px;
  font-size: 12px;
  cursor: pointer;
  flex-shrink: 0;
  border-color: #bcbfc6;
  color: #777;
  /* background-color: #fafbf6; */
  /* background-image: linear-gradient(#fff, #f1f1f1); */
  /* box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2); */
}

/* 모달 관련 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.modal-content {
  background-color: #fefefe;
  width: 300px;
  padding: 20px;
  border: 1px solid #0af350f3;
  border-radius: 5px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-content-box,
.modal-content-box-password {
  display: flex;
  flex-direction: column;
}

.sign-in-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #95f3a2;
  color: rgb(14, 13, 13);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.sign-in-error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.close {
  color: #1a1919;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* 오류 메시지 */
.error-message,
.duplicate-error-message,
.match-error-message,
.matchCurrent-error-message {
  letter-spacing: 1px;
  color: red;
}
