#sign-in-wrapper{
    width: 100vw;
    min-width: 1440px;
    height: 90vh;
    
    display: flex;
    justify-content: center;
}

.sign-in-container {
    flex-direction: row;
    /*background-color: #ffffff;*/ /* 배경색 흰색 */
    /*border: 2px solid #4ff55c;*/ /* 테두리 선 색상 녹색으로 설정 */
    color: #00020a; /* 폰트 색상 파란색으로 설정 */
    display: flex;
    width: 800px;
    height: 800px; /* 높이 300px로 설정 */
    justify-content: center;
    align-items: center;
  }

.sign-in-box{
    background-color: #e6e5e593;
    padding: 40px;
    width: 30vw;
    height: 75%;
    display: flex;
    gap: 0px;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    z-index: 3;
    border-radius: 20px;
}

.sign-in-title {
    color: rgba(64, 64, 64, 1);
    display: flex;
    /*justify-content: flex-start;*/ /* 화면 맨 왼쪽으로 정렬 */
    font-size: 30px;
    line-height: 173%;
    /*letter-spacing: 2px;*/ /* 글자 사이의 간격을 조정 */
    width: 600px; /* 굵은 줄의 길이 */
    padding-bottom: 12px; /* 굵은 줄과 내용 사이의 간격 조정 */
}


.sign-in-content-box{
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/ /* 왼쪽 정렬 */
    gap: 0;
    height: 100%; /* 부모 요소(.sign-in-box)의 높이에 맞춤 */
}

.sign-in-content-input{
    width: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start; /* 왼쪽 정렬 */
    
}



.sign-info{
    display: flex; /* Flexbox를 사용하여 요소들을 가로로 배열합니다. */

    font-style:initial;
    font-size: 15px;
    border-bottom: 1px solid #a8a2a2c0; /* 아래쪽에 5px 굵기의 검은색 굵은 줄 추가 */
    width: 600px; /* 굵은 줄의 길이 */
    height: 75px; /* 필요에 따라 높이 설정 */
    margin: 0;
}
.sign-info-title,.sign-info-content{
    text-align: center; /* 텍스트 가운데 정렬 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */
    display: flex; /* Flexbox를 사용하여 요소 내부의 텍스트를 정렬 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */

}
.sign-info-title{
    padding-left: 2%; /* 텍스트를 화면 왼쪽에서 조금 떨어지게 함 */
    height: 75px;
    width: 150px;
    border-right: 1px solid #a8a2a2c0;/* 오른쪽에 1px 굵기의 세로 줄 추가 */
    margin-top: 0;
    text-align: center; /* 텍스트 가운데 정렬 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */
    display: flex; /* Flexbox를 사용하여 요소 내부의 텍스트를 정렬 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */
    
}
.sign-info-content{
    padding-left: 5%; /*텍스트를 화면 왼쪽에서 조금 떨어지게 함*/
    width: 200px;

    
}


.icon-edit-icon {

    margin-left: 100px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    flex-shrink: 0; /* 줄어들지 않도록 고정 */
    
}

.log-io-container.right-panel-active .sign-in-box {
    transform: translateX(100%);
    opacity: 0;
}
.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 150px; 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 6%  43%; 
    border: 1px solid #0af350f3;
    width: 300px;
   
    
  }
  .modal-body{
    font-size: 15px;
    letter-spacing: 2px;
    padding : 0rem;
    padding-left: 20px;
  }
  .modal-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .modal-title-body{
    display: flex; /* Flexbox 레이아웃 설정 */
  justify-content: space-between; /* 요소들을 가장자리에 정렬하며 사이 간격을 균등하게 분배 */
  margin-bottom:10px;
  }
  .modal-title-cnt {
    
    width: 110px;
    margin-right: 10px; /* 요소 간 간격을 조정 */
  }
  
  .modal-content-cnt {
    flex: 1; /* 또는 적절한 너비를 지정 */
    width: 150px;
    height: 22.5px;
    
  }

  /* The Close Button */
  .close {
    color: #1a1919;
    font-weight: bold;
    margin-left: auto; /* 오른쪽 끝으로 보내기 */
    margin-right: 20px;
    margin-top: 5px;
    font-size: 30px;
  }
  .modal-button-store{
    /* background-color: #ffffff; 
    border: 2px solid #4ff55c; 
    border-radius: 8px;  */
    width: 45px;
    flex-shrink: 0; /* 줄어들지 않도록 고정 */
    text-align: center;
    font-weight: 550;
    margin-left: auto; /* 오른쪽 끝으로 보내기 */
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    padding-top: 12px;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .error-message,.duplicate-error-message{
    letter-spacing: 1px;
    color : red}



    .modal-content-password {
      background-color: #fefefe;
      margin: 5%  40%; 
      border: 1px solid #0af350f3;
      width: 400px;
      border-radius: 5px;
      
    }
    .modal-body-password{
      font-size: 17px;
      letter-spacing: 2px;
      margin-top: 40px;
      padding-left: 40px;
      
    }
    .modal-title-password{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      
    }
    .modal-title-body-password{
      display: flex; /* Flexbox 레이아웃 설정 */
      justify-content: space-between; /* 요소들을 가장자리에 정렬하며 사이 간격을 균등하게 분배 */
      margin-bottom:10px;
      height: 40px;
    }
    .modal-title-cnt-password {
      
      width: 150px;
      /* margin-right: 5px;  */
    }
    
    .modal-content-cnt-password {
      flex: 1; /* 또는 적절한 너비를 지정 */
      width: 150px;
      height: 25.5px;
      
    }      
    .modal-button-store-password{
      /* background-color: #ffffff; 
      border: 2px solid #4ff55c; 
      border-radius: 8px;  */
      width: 45px;
      flex-shrink: 0; /* 줄어들지 않도록 고정 */
      text-align: center;
      font-weight: 550;
      margin-left: auto; /* 오른쪽 끝으로 보내기 */
      margin-right: 30px;
      margin-bottom: 30px;
      font-size: 15px;
      cursor: pointer;
      text-align: center; /* 텍스트 가운데 정렬 */
      padding-top: 12px;
    }
    .duplicate-error-message,.empty-error-message,.match-error-message,.matchCurrent-error-message{
      letter-spacing: 1px;
    color : red}
    
