.list-search-container {
    margin-top: 20px;
    padding-left: 18%;
    padding-right: 16%;
}

.list-page-title {
    margin-bottom: 20px;
    font-style: initial;
    font-weight: 800;
}

.list-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.list-search-input {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.list-search-keyword {
    width: 600px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
    border: 1px solid #D3D3D3;
    font-style: italic;
}

.search-button {
    background-color: #007bff;
    border-color: #f2f3f8;
    color: #f2f3f8;
    border-radius: 5px;
    margin-left: 2px;
    font-size: 16px;
    height: 35px;
    width: 80px;
}

.item-shopping-basket {
    margin-left: auto;
    flex-shrink: 0;
}

.item-shopping-basket-button {
    background-color: #007bff;
    border-color: #f2f3f8;
    color: #f2f3f8;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    font-size: 16px;
}

.list-group {
    margin-top: 20px;
    padding: 0;
    margin: 0;
}

.product-item-list-group-item {
    display: flex;
    align-items: center;
    font-style: initial;
    font-weight: 300;
    padding: 10px 0;
}

.items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.items-price {
    text-align: center;
    margin-left: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.items-price a {
    margin-right: auto;
}

.item-info {
    margin-top: 10px;
    text-align: left;
    display: flex;
    gap: 10px;
}

.item-array {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-store,
.item-buy {
    background-color: #007bff;
    border-color: #f2f3f8;
    color: #f2f3f8;
    border-radius: 10px;
    font-style: italic;
    height: 38px;
    width: 80px;
    margin-left: 10px;
}

.items-sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    padding: 10px;
    box-shadow: none;
}

.item-sort {
    margin-left: 10px;
    border-color: #20eb5d;
    /* border-width: 5px; */
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
}

.item-buy {
    background-color: #f2f3f8;
    border-color: #007bff;
    color: #007bff;
}

.item-price{
    margin-right: 100px
}

.search-pagination-box {
    margin-top: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;

}

.quantity-selector .quantity-minus-icon::before,
.quantity-selector .quantity-plus-icon::before {
    display: inline-block;
}

.quantity-selector .quantity-minus-icon::before {
    font-size: 16px;
}

.quantity-selector .quantity-plus-icon::before {
    font-size: 16px;
}

.quantity-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
}