.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.emphasis {
  font-weight: bolder;
}

.word-badge {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 6px 20px;

  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.word-badge:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.primary-button-lg{
  border-radius: 6px;
  padding: 8px 24px;

  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(58, 87, 232, 1);

  color: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
}

.primary-button-small{
  border-radius: 6px;
  padding: 8px 24px;

  box-sizing: border-box;

  display: inline-flex;
  justify-content: end;
  align-items: end;

  background-color: rgba(58, 87, 232, 1);

  color: rgba(255, 255, 255, 1);

  font-size: 12px;
  font-weight: 400;
  line-height: 150%;

  cursor: pointer;
}

.disable-button-lg{
  border-radius: 6px;
  padding: 8px 24px;

  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(138, 146, 166, 1);

  color: rgba(255, 255, 255, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: default;
}

.text-link-lg{
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: rgba(113, 113, 113, 1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
}

.text-link-lg-right{
  box-sizing: border-box;

  display: inline-flex;
  justify-content: end;
  align-items: center;

  color: rgba(113, 113, 113, 1);

  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  cursor: pointer;
}

.text-link-lg:hover{
  color: rgba(40, 40, 40, 1);
}

.primary-button-lg:hover{
  opacity: 0.95;
}

.full-width{
  width: 100%;
}

.black-button {
  border-radius: 46px;
  width: 95px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 1);

  color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.black-button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.disable-button {
  border-radius: 46px;
  width: 95px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);

  color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: not-allowed;
}

.white-button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 46px;
  width: 93px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);

  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  cursor: pointer;
}

.white-button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.icon-box {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box-small {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box-large {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  border-radius: 50% 50%;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}