#sidebar {
  z-index: 5;
  padding: 12px;
  border-radius: 15px 0px 0 15px;
  color: #F2F3F8;
  background-color: #007BFF;
  height: 50%; /* 사이드바의 높이를 화면의 높이에 비례해 설정 */
  width: 0; /* 초기에는 사이드바가 접혀있기 때문에 너비를 0으로 설정 */
  top: 96px; /* 배치위치 */
  position: fixed;
  visibility: hidden;
  transition: width 1s ease /* 펼쳐지는 속도 */
}

#sidebar.open {
  visibility: visible;
  width: 280px; /* 사이드바가 열릴 때 너비를 280px로 펼쳐지는 애니메이션 */
  right: 84%; /* 열었을때 위치 */
  
}

#sidebar .close {
  cursor: pointer;
  outline: none;
  color: #F2F3F8;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin: 30px 8px;
  cursor: pointer;
}

#sidebar ul li:hover {
  text-decoration: underline;
}

#sidebar .exit-menu {
  position: absolute;
  bottom: 26px;
  font-size: 0.8rem;
}

.category-icon {
  width: 24px; /* 이미지 아이콘의 크기 조절 */
  height: 24px;
  margin-right: 10px;
}
