.sidebar-container {
  position: relative; /* 상위 컨테이너 */
}

#sidebar {
  z-index: 5;
  padding: 12px;
  border-radius: 15px 0px 0 15px;
  color: black;
  background-color: #00C73C;
  height: 450px; /* 사이드바의 높이를 100%로 설정 */
  width: 0; /* 초기에는 사이드바가 접혀있기 때문에 너비를 0으로 설정 */
  top: 40px; /* 배치위치, 부모 요소에 맞게 설정 */
  right: 0; /* 화면 오른쪽에 고정 */
  position: absolute; /* 절대적 위치 설정 */
  visibility: hidden;
  transition: width 0.3s ease-in-out, visibility 0s ease-in-out;
}

#sidebar.open {
  visibility: visible;
  width: 280px; /* 사이드바가 열릴 때 너비를 280px로 펼쳐지는 애니메이션 */
}

#sidebar .close {
  cursor: pointer;
  outline: none;
  color: black;
  position: absolute; /* 절대적 위치 설정 */
  top: 12px; /* 닫기 버튼의 위치 */
  right: 12px; /* 닫기 버튼의 위치 */
}

.sidebar-list {
  list-style: none;
  padding: 0;
  background-color: #00C73C;
  margin: 20px 0;
}

#sidebar ul li {
  margin: 16px 0;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
}

#sidebar ul li:hover {
  text-decoration: underline;
  color: #007bff;
}

.category-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
